/* style.css */

body {
	font-family: 'Avenir';
	color: #FFFFFF;
	background-color: #33475B;
	text-align: center;
}

h1 {
	font-family: 'Avenir Next';
	font-size: 45px;
	margin-bottom: 6px;
}

h2 {
	font-size: 16px;
	margin-top: 0px;
}

button {
	color: #FFFFFF;
	background-color: #FD795A;
	font-weight: bold;
	width: 455px;
	padding: 10px;
	border-color: #FD795A;
	border-radius: 5px;
	border-width: 1px;
	opacity: .95;
    outline: none;
}

button:hover {
	opacity: 1;
	cursor: pointer;
}

input {
	vertical-align: middle;
	margin: 0 10px 2px 0;
}

input:after, input:checked:after {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    content: '';
    top: -2px;
    left: -1px;
    position: relative;
    display: inline-block;
}

input:checked:after { background-color: #33475B; }

input:hover { cursor: pointer; }

#type-buttons button {
	margin-left: 1.5px;
	margin-right: 1.5px;	
}

#snippet-buttons button {
	width: 224px;
	margin-bottom: 7px;
}

#code-block-buttons button {
	width: 147px;
	margin-bottom: 15px;
}

#input-container, #output-container { margin-bottom: 15px; }

textarea {
	width: 450px;
	font-family: 'Avenir Next';
	outline: none ! important;
	resize: none;
}

#input-header, #output { border-radius: 5px 5px 0px 0px; }

#input-content { border-radius: 0px 0px 0px 0px; }

#generate-button, #copy-button { border-radius: 0px 0px 5px 5px; }

#copy-confirm { display: none; }

#footer {
	font-size: 12px;
	margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
